.component-signup{

    .signup-form{
        margin-top: 50px;
        text-align: center;

        .signup-table{
            display: inline-block;

            td {
                padding: 10px;     
                .password-icon{
                    width: 25px;
                    height: 25px;
                }
            }

            input{
                width: 400px;
            }
        }
    }

    .success{
        margin-top: 50px;
        text-align: center;
    }

 
}