.component-signup{

    .signup-form{
        margin-top: 50px;
        text-align: center;

        .signup-table{
            display: inline-block;

            td {
                padding: 10px;     
            }

            input{
                width: 400px;
            }
        }
    }

    .success{
        margin-top: 50px;
        text-align: center;
    }

    .email-verification{
        text-align: center;
        margin-top: 20px;

        .button-group{
            margin-top: 10px;

            .verification-input {
                width: 165px;
            }

            button, .submit{
                margin: 10px;
                border-radius: 10px;
            }
        }

    }
}