.component-service{

    width: 200px;
    height: 80px;
    border: 1px solid black;
    display: flex;
    margin: 10px auto;
    border-radius: 8px;


    .title-container{
        margin: auto;
    }
}