.component-contact{
    text-align: center;

    margin-top: 30px;
    li {
        list-style-type: none; /* Remove bullets */
    }
    .social-media {
        height: 40px;
        width: 40px;
    }

    .social-media:hover {
        fill: blue;
        transition: fill 0.5s ease;
        animation-name: spin;
        animation-duration: 300ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }

    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }
}