.component-login{
    margin-top: 50px;
    display: flex;

    .user-pw-section{
        margin: auto;

        .label{
            display: inline-block;
            width: 100px;
            // border: 1px solid blue;
            font-weight: bold;
        }

        .login-input{
            margin-bottom: 10px;
        }

        .submit-container{
            text-align: center;

            .button{
                margin: 0 10px;
                border-radius: 10px;
                padding: 0 10px;
            }
        }

    }
}