.component-forgot-password{
    margin-top: 20px;
    text-align : center;

    .email-address-input{
        margin: 20px;
    }

    .forgot-password-table{
        margin: 0px auto;

        .button {
            width: 100px;
            border-radius: 5px;
        }
    }
}